# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Pycache folder
__pycache__/

# Plots which get created
plots/
# Tables from which the data get ploted in tblplots.py
tables/

# main.py could be a place where you call all needed functions from the different files at once
main.py